.index-large-box{
  border: solid 2px #dcdcdc;
  margin-top: 5px;
}

.index-footer{
  border-top: solid 2px #dcdcdc;
}

.candidate-image{
  width: 450px;
  height: 300px;
}

.hidden-set-good{
  display: none;
}

.hidden-reset-good{
  display: none;
}