/* 一覧画面 */
.candidate-index-box{
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
}
/* /一覧画面 */

/* タイトル */
.candidate-index-title{
  margin-top: 10px;
  text-align: center;
}

.back-page{
  text-align: end;
  position: relative;
  right: 100px;
}
/* /タイトル */

/* 候補 */
.candidate-index-content{
  width: 70%;
  margin: 0 auto;
  border: 2px solid navy;
  border-radius: 20px;
  background: rgba(255,255,255,0.45);
  margin-bottom: 10px;
}

.index-large-box{
  padding-left: 100px; 
  padding-top: 10px;
}

.candidate-guide{
  width: 60%;
  margin-top: 5px;
  border-bottom: 2px dotted #dcdcdc;
  overflow: scroll;
}

.candidate-p{
  position: relative;
  left: 100px;
}
/* /候補 */

/* 写真 */
.candidate-image{
  width: 450px;
  height: 300px;
}
/* /写真 */

/* フッター */
.candidate-index-footer{
  display: flex;
}

.index-footer-content{
  margin-right: 20px;
  border: solid 1px royalblue;
  background-color: #fff;
  border-radius: 5px; 
  width: 80px;
  text-align: center;
}

.index-footer-content a{
  display: block;
}
/* /フッター */
