.dayhow-largebox{
  position: relative;
  height: 100vh;
}

.dayhow-box{
  position: absolute;
  width: 30%;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  background-color: #fff;
  padding-left: 50px;
  border: 1px solid black;
}

.passed-form{
  width: 60px;
}