<%# header %>
<div class="main-header">
  <div class="header-content">
    <%= link_to "グループを作成", new_group_path, local:true %>
  </div>
</div>
<%# /header %>

<h1>グループ一覧<h1>
<div class="group-box">
  <div class="group-box-main">
    <ul class="group-list">
    <%# グループを一つずつ表示 %>
      <% if user_signed_in? %>
        <% current_user.groups.each do |group| %>
          <%= link_to group_path(group), local: true do%>
            <li>
              <%= link_to "#{group.name}", group_path(group),  local: true %>
            </li>
          <% end %>
        <% end %>
      <% else %>
        <p>ログインしてください</p>
      <% end %>
    <%# グループを一つずつ表示 %>
    </ul>
  </div>
</div>
