<div class="main-header">
  <%= render partial: "shared/main_header", locals: { user: @user, group: @group} %>
</div>

<div class="group-index-largebox">
  <div class="group-index">
    <div class="group-index-header">
      <h1>グループ一覧</h1>
    </div>
    <div class="group-box">
      <div class="group-box-main">
        <ul class="group-list">
        <%# グループを一つずつ表示 %>
          <% if user_signed_in? %>
            <% current_user.groups.each do |group| %>
              <%= link_to group_path(group) ,class: "link" do%>
                <li>
                  <h3><%= group.name %></h3>
                </li>
              <% end %>
            <% end %>
          <% else %>
            <p>ログインしてください</p>
          <% end %>
        <%# グループを一つずつ表示 %>
        </ul>
      </div>
    </div>
    <div class="to_group_new">
      <h2><%= link_to "グループ作成", new_group_path , class: "link group-new-link" %></h2>
    </div>
  </div>
</div>
