<h1>グループ一覧<h1>
<div class="group-box">
  <div class="group-box-header">
    <div class="search-box">
      <%# form_with search do |f|%>
      <%# f.submit "検索" %>
    </div>
    <div class="make-group">
      <%= link_to "グループを作成", new_group_path, local:true %>
    </div>
  </div>
  <div class="group-box-main">
    <ul class="group-list">
    <%# グループを一つずつ表示 %>
      <% if user_signed_in? %>
        <% current_user.groups.each do |group| %>
          <%= link_to group_path(group), local: true do%>
            <li>
              <%= link_to group_path(@group), "#{group.name}", local: true %>
            </li>
          <% end %>
        <% end %>
      <% else %>
        <p>ログインしてください</p>
      <% end %>
    <%# グループを一つずつ表示 %>
    </ul>
  </div>
</div>