 <h1><%= @group.name %></h1>
 <%= link_to "グループを削除", group_path(@group), method: :delete %>
 <h2>メンバー<h2>
 <% @group.users.each do |user| %>
  <li>
    <%= user.nickname %>
  </li>
<% end %>
<%= link_to "行先候補を作成", new_group_candidate_path(@group, @candidate), local: true %>