<div class="swiper-container user-swiper-container">
  <div class="swiper-wrapper user-swiper-wrapper">
    <% user.memories.each do |memory|%>
      <% memory.images.each do |image| %>
        <div class="swiper-slide user-swiper-slide">
          <%= image_tag image, class:"user-image image" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-white user-swiper-pagination"></div>
  <!-- Add Arrows -->
</div>
