<div class="main-header">
  <%= render partial: "shared/main_header", locals: { user: @user, group: @group} %>
</div>

<div class="back-map">
  <div class="user-candidate-largebox">
  <%# タイトル %>
    <div class="candidate-index-title"> 
      <h1>行先候補一覧</h1>
    </div>
  <%# /タイトル %>

    <div class="back-page">
      <%= link_to "戻る", user_path(@user), class: "back-to-user link" %>
    </div>

    <div class="user-candidates-lists">
      <ul class="user-candidates-list">
        <% if @user.groups.present? %>
          <% @groups.each do |group| %>
            <%# グループがあるとき %>
            <li class="user-candidate">
              <div class="group-candidates">
                <%# グループ名 %>
                <h2><%= group.name %></h2>
                <%# グループ名 %>
                <% if group.candidates.present? %>
                  <% group.candidates.each do |candidate|%>
                    <% unless candidate.plan.present? %>
                      <%# 行き先名 %>
                        <%= link_to "　#{candidate.destination}" , group_candidate_path(candidate.group, candidate),class: "link user-candidate-destination" %>
                      <%# /行き先名 %>
                    <% end %>
                  <% end %>
                <%# グループに行先がないとき %>
                <% else %>
                  　行先候補はありません
                <% end %>
              </div>
            </li>
          <% end %>
        <%# /グループがあるとき %>
        <% else %>
        <%# グループがないとき %>
          <li class="user-candidate">
            行先候補はありません
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>