<div class="back-to-user-link">
  <%= link_to "戻る", user_path(@user), class: "back-to-user" %>
</div>

<div class="user-candidates-lists">
  <ul class="user-candidates-list">
    <% @groups.each do |group| %>
      <% group.candidates.each do |candidate|%>
        <li class="user-candidate">
          <%= link_to candidate.destination , group_candidate_path(candidate.group, candidate), local: true %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>