<div class="back-to-user-link">
  <%= link_to "戻る", user_path(@user), class: "back-to-user" %>
</div>

<div class="user-candidates-lists">
  <ul class="user-candidates-list">
    <% @groups.each do |group| %>
      <div class="group-candidates">
        <%= group.name %>:
        <% if group.candidates.present? %>
          <li class="user-candidate">
           <% group.candidates.each do |candidate|%>
            <% unless candidate.plan.present? %>
              <%= link_to candidate.destination , group_candidate_path(candidate.group, candidate) %>
            <% end %>
          <% end %>
        <% else %>
            行先候補はありません
          </li>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>