<h1>思い出を作成</h1>
<div class="choose">
  <h2>どの旅行の思い出を記録しますか？</h2>
  <div class="plan-list">
    <ul>
      <% @plans.each do |plan| %>
        <li class="memory-check-list">
          <% unless plan.memory.present? %>
            <%= link_to "#{plan.title}", new_group_memory_path(@group, plan_id: plan.id) %>
          <% else %>
            <%= plan.title %> : すでに登録されています
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>