<div class="main-header">
  <%= render partial: "shared/main_header", locals: { user: @user, group: @group} %>
</div>

<div class="back-to-user-link">
  <%= link_to "戻る", user_path(@user), class: "back-to-user link" %>
</div>

<div class="user-candidates-lists">
  <ul class="user-candidates-list">
    <% @groups.each do |group| %>
      <div class="group-candidates">
        <%= group.name %>:
        <% if group.memories.present? %>
          <li class="user-memories">
          <% group.memories.each do |memory|%>
            <%= link_to memory.destination , group_memory_path(memory.group, memory),class: "link" %>
          <% end %>
        <% else %>
            思い出はありません
          </li>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>