<h1><%= @user.user_ID %></h2>
<div class="user-content">

  <div class="main-header">
    <%= render partial: "shared/main_header", locals: { user: @user, group: @group} %>
  </div>


<% if @user.memories.present? %>
  <%= render partial: "userImage", locals: {user: @user} %>
<% end %>
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
</div>