  <tr class="table-list">
    <td class="schedule-list time-list"><%= @schedule.hour.name %>:<%= @schedule.minute.name %></td>
    <td class="schedule-list category-list"><%= @schedule.category.name %></td>
    <td class="schedule-list program-list"><%= @schedule.program %></td>
  </tr>