
/* メイン詳細部分 */
.plan-show-box{
  width: 60%;
  margin: 0 auto;
  border: 2px solid navy;
  border-radius: 20px;
  background: rgba(255,255,255,0.45);
  margin-bottom: 10px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* メイン詳細部分 */

/* タイトル */
.plan-show-title{
  margin:0 auto;
  text-align: center;
  margin-top: 20px;
}
/* /タイトル */

/* 内容とリストの半分分け */
.plan-contents-options{
  display: flex;
}

.plan-contents{
  margin-left: 100px;
  width: 60%;
  margin-bottom: 10px;
}

.options{
  position: absolute;
  bottom: 0;
  left: 150px;
}
/* 内容とリストの半分分け */


/* 計画詳細 */
.plan-ticket, .hotel-memo-guide{
  width: 80%;
  overflow: scroll;
}

.plan-show-image-box{
  margin: 0 auto;
  text-align: center;
}

.reference-image{
  text-align: start;
}

.plan-show-content{
  margin-bottom: 10px;
}
/* /計画詳細 */

/* リンク箇所 */
.options-box{
  position: relative;
  width: 100%
}

.plan-show-link a{
  display: block;
}

.plan-show-link{
  margin-right: 20px;
  border: solid 1px royalblue;
  background-color: #fff;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  margin-bottom: 10px;
}
/* /リンク箇所 */

/* 前ページ */
.group-page{
  width: 50%;
  margin: 0 auto;
  text-align: end;
}
/* /前ページ */

/* 戻るボタン */
.back-index-page{
  width: 50%;
  margin: 0 auto;
  text-align: end;
}