/* 詳細ヘッダー */
.group-show-box{
  width: 70%;
  margin: 0 auto;
}

.group-show-head{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.group-delete{
  padding-top: 20px;
}
/* /詳細ヘッダー */

/* メンバー */
.text-member{
  margin-bottom: 0;
}
.show-members{
  border: solid 2px #dcdcdc;
  width: 30%;
  overflow: scroll;
  border-radius: 10px;
}

.members-list{
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* /メンバー */

/* コンテンツ */
.group-show-contents{
  width: 200px;
  height: 50px;
  background-color: #fff;
  border: 2px solid navy ;
  border-radius: 20px;
  margin-bottom: 10px;
}

.group-show-contents a{
  display: block;
  position: relative;
  top: 25%;
  left: 25%;
  width: 100%;
  height: 100%;
}
/* /コンテンツ */