<div class="memory-image-large-box">
  <% if memory.images.present? %>
    <% memory.images.each do |image| %>
      <div class="memory-image-box">
        <%= image_tag image, class: "memory-image-show" %>
      </div>
    <% end %>
  <% end %>
</div>