.user-swiper-container{
  width: 600px;
  height: 450px;
}

.user-swiper-slide{
  width: 600px;
  height: 450px;
  background-position: center;
  background-size: cover;
}

.user-image{
  object-fit: contain;
  width: 600px;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.user-candidate-fav-image{
  width:200px;
  height: 160px;
}

.user-fav-image{
  width: 200px;
  object-fit: contain;
}

.fav-candidates{
  display: flex;
}

.fav-candidate{
  margin-right: 10px;
}